@font-face {
    font-family: montserrat;
    src: url(/Fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: permanent;
    src: url(/Fonts/permanent-marker/PermanentMarker-Regular.ttf);
}